<div class="border-bottom top-bar py-2">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="mb-0">
                    <!--- span class="mr-3"><strong>Phone:</strong> <a href="tel://#">+1 562 441 0990</a></span --->
                    <span><strong>Email:</strong> <a href="#">info@karmicconcept.com</a></span>
                </p>
            </div>
            <div class="col-md-6">
                <ul class="social-media">
                    <li><a href="#" class="p-2"><span class="icon-facebook"></span></a></li>
                    <li><a href="#" class="p-2"><span class="icon-twitter"></span></a></li>
                    <li><a href="#" class="p-2"><span class="icon-instagram"></span></a></li>
                    <li><a href="#" class="p-2"><span class="icon-linkedin"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<header class="site-navbar py-4 bg-white" role="banner">

    <div class="container">
        <div class="row align-items-center">

            <div class="col-11 col-xl-2">
                <img href = "/" src="/images/logo.png" alt="Image" class="img-feature img-fluid">
                <h1 class="mb-0 site-logo">
                    <a href="/" class="text-black h2 mb-0">Karmic Concept</a>
                </h1>

                <!--- img class="mb-0 site-logo"><a href="/" src="/images/logo.png" alt="Image"
                        class="img-feature img-fluid"></a>
                </img --->

            </div>
            <div class="col-12 col-md-10 d-none d-xl-block">
                <nav class="site-navigation position-relative text-right" role="navigation">

                    <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
                        <li class="active"><a href="/">Home</a></li>
                        <li class="has-children">
                            <a href="#">Enterprise Solutions</a>
                            <ul class="dropdown">
                                <li><a href="#">Smart Workspace</a></li>
                                <li><a href="#">Smart Tracking</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="#">Services</a>
                            <ul class="dropdown">
                                <li><a href="#">Web Applications</a></li>
                                <li><a href="#">WordPress Dev</a></li>
                                <li><a href="#">Mobile Applications</a></li>
                                <li><a href="#">eCommerce</a></li>
                            </ul>
                        </li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </nav>
            </div>


            <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; 
                top: 3px;">
                <a href="#" class="site-menu-toggle js-menu-toggle text-black">
                    <span class="icon-menu h3"></span></a></div>

        </div>

    </div>
    </div>

</header>